.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:transparent;
  -fx-tab-min-width:120px;
  -fx-tab-max-width:120px;
  -fx-tab-min-height:50px;
  -fx-tab-max-height:50px;
}

.tab {
  -fx-font-family: Futura;
  -fx-font-size: 14;
  -fx-background-color:#EEF2F6 ;
}

.tab:selected {
    -fx-background-color: #DAE4EB ;
}
.tab:selected .focus-indicator {-fx-border-color: transparent}
