
.dialog > .dialog-pane > .button-bar {
    -fx-font-size: 20px;
    -fx-background-color: #EEF2F6;
    -fx-font-family: "Futura";
}

.dialog > .dialog-pane > .content.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-fill: #717E93;
}


.dialog-pane .button{
  -fx-background-color:   #eef2f6;
  -fx-background-radius: 0;
  -fx-font-family: 'Futura';
 }

 .dialog-pane .button:hover{
   -fx-background-color:  #42A0EC; /* Accent */
   -fx-text-fill: white;
 }
